.charts-container {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    justify-content: center;
}

.chart-container {
    width: 45rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    border: 2px solid black;
    border-radius: 14px;
}