<div class="charts-container">
    <div class="chart-container">
        <apx-chart [series]="stackedColumnChart.series" [chart]="stackedColumnChart.chart"
            [plotOptions]="stackedColumnChart.plotOptions" [xaxis]="stackedColumnChart.xaxis"
            [yaxis]="stackedColumnChart.yaxis" [legend]="stackedColumnChart.legend" #StackedColumnChart></apx-chart>
        <button (click)="updateStackedColumnChartData()">Click To Randomize</button>
    </div>

    <div class="chart-container">
        <apx-chart></apx-chart>
        <button (click)="updateStackedColumnChartData()">Click To Randomize</button>
    </div>
</div>